[
 ["fork 1, flows/b7ba00/vision/messaging.md:101, 2026-09-26, relayed by 93ba9f" "Meanwhile let's have just a very primitive version, a proof of concept, with just a few different types of messages, like what we've been doing so far. A better version of message should be redone and redeployed with just a string as the basic form. We're going to maybe develop it a little bit and then release it in the next version but we can have a primitive version of that while we do the database rename and stuff."]
 ["fork 1, flows/b7ba00/vision/meaningLanguage.md:157, 2026-09-26, relayed by 93ba9f" "The first version of sema could be that it just has one or two layers of variants, possibly with one variant and then another variant inside and the payload at the end being a string. That way we get a sort of strongly typed string, if you will.  And this then becomes the basis for how agents start to communicate with the message component."]
 ["forks 1 & 2, flows/8475a9/vision/datom.md:29, 2026-10-05, psyche STT book comment" "Well the Nexus has no datom so expand [it]. It doesn't even have datom. There should be no datom in any Nexus. It's going to be forbidden for string handling to be in the Nexus."]
 ["fork 2, flows/1b8ac0/vision/messaging.md:29, 2026-09-21, psyche STT" "It's just a shorthand for a certain configured type of messaging request, or a request to send this text into a particular harness."]
 ["fork 2, flows/1b8ac0/vision/messaging.md:31, 2026-09-21, psyche STT" "It locks the message for the session to send the message, then it sends the message, then it removes the lock. The messaging will send a request to Flow to send the message, and Flow will say, \"Yes, that window is locked.\" I guess Flow would even be the part that sends the text, so message wouldn't need to make this a two-part thing. It would just ask to send a message to a certain Flow, and then the Flow would say successful or not, basically."]
 ["fork 2, flows/26c50c/vision/ethos.md:18, 2026-09-24, living typed directly" "Yeah I meant kinds not traits. If I say traits I mean kinds. They're kind of the same thing but we say kind because I think it's actually more accurate.\n\nI want you to design that aspect of everything, or look at the design of it, and look at how enforced the ethos code is. Look at how we make sure that it's the code that runs, that it is compiled in, and that it does what it's supposed to be doing. It makes the code able to lower and lower (and vice versa) from a datom string or from string syntax into a Rust value, or not, depending on whether it has that option turned on during compilation. That way the Nexus doesn't do the string conversion but the CLI does and eventually the user interface will have all of that conversion-to-string logic compiled in."]
]
