[Unit]
Description=Gas City machine supervisor

[Service]
Type=simple
ExecStart=/nix/store/wwn4c45zkqqxy3gjjljdlv1rf8fpqzfb-gascity-1.0.0-unstable-2026-05-02/bin/gc supervisor run
Restart=always
RestartSec=5s
StandardOutput=append:/tmp/orchestrator-gc.2aqy4z/gc-home/supervisor.log
StandardError=append:/tmp/orchestrator-gc.2aqy4z/gc-home/supervisor.log
Environment=GC_HOME="/tmp/orchestrator-gc.2aqy4z/gc-home"
Environment=PATH="/home/li/.local/bin:/home/li/bin:/tmp/orchestrator-gc.2aqy4z/bin:/home/li/.codex/tmp/arg0/codex-arg017VF8g:/nix/store/dk9qhjgg469lv6mriys7v4c59igarmvx-bubblewrap-0.11.1/bin:/run/wrappers/bin:/home/li/.nix-profile/bin:/nix/profile/bin:/home/li/.local/state/nix/profile/bin:/etc/profiles/per-user/li/bin:/nix/var/nix/profiles/default/bin:/run/current-system/sw/bin:/nix/store/ah86d6ckmmx3bflam3ar6pqdskkllxr6-ghostty-1.3.1/bin:/snap/bin:/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin"
Environment=HOME="/home/li"
Environment=LANG="C.UTF-8"
Environment=LOGNAME="li"
Environment=SHELL="/run/current-system/sw/bin/zsh"
Environment=USER="li"


[Install]
WantedBy=default.target
